openapi: 3.0.3
info:
  title: Harness Library API
  version: 1.0.0
  description: >-
    Porta JSON externa e sem banco para cadastrar, revisar, ativar, consultar e arquivar versões de
    cartões da Biblioteca do Harness. O backend principal permanece a fonte de verdade.
servers:
  - url: https://mkthub.api.br
    description: Domínio público canônico, ativado somente depois dos gates de DNS, health e TLS.
security:
  - ApiKey: []
    Actor: []
paths:
  /v1/cards:
    post:
      operationId: registerCard
      summary: Cria a próxima versão de uma chave lógica em DRAFT.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterCardRequest"
      responses:
        "201":
          description: Versão criada ou submissão idempotente recuperada.
          headers:
            Location: { schema: { type: string } }
            X-Request-ID: { schema: { type: string, format: uuid } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CardVersion" }
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/Conflict" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "502": { $ref: "#/components/responses/BackendFailure" }
        "504": { $ref: "#/components/responses/BackendFailure" }
    get:
      operationId: listCards
      summary: Lista versões persistidas com filtros opcionais.
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [DRAFT, IN_REVIEW, ACTIVE, ARCHIVED]
        - name: collection
          in: query
          schema: { type: string, maxLength: 80 }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 200, default: 100 }
      responses:
        "200":
          description: Versões encontradas.
          content:
            application/json:
              schema:
                type: object
                required: [returnedItems, items]
                properties:
                  returnedItems: { type: integer, minimum: 0 }
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/CardVersion" }
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "502": { $ref: "#/components/responses/BackendFailure" }
        "504": { $ref: "#/components/responses/BackendFailure" }
  /v1/cards/{cardKey}/versions/{version}:
    get:
      operationId: getCardVersion
      summary: Consulta conteúdo, fonte, estado e auditoria de uma versão.
      parameters:
        - $ref: "#/components/parameters/CardKey"
        - $ref: "#/components/parameters/Version"
      responses:
        "200":
          description: Versão encontrada.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CardVersion" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "502": { $ref: "#/components/responses/BackendFailure" }
        "504": { $ref: "#/components/responses/BackendFailure" }
  /v1/cards/{cardKey}/versions/{version}/submit-review:
    post:
      operationId: submitCardForReview
      summary: Move DRAFT para IN_REVIEW.
      parameters:
        - $ref: "#/components/parameters/CardKey"
        - $ref: "#/components/parameters/Version"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody: { $ref: "#/components/requestBodies/Transition" }
      responses:
        "200": { $ref: "#/components/responses/CardVersion" }
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "502": { $ref: "#/components/responses/BackendFailure" }
        "504": { $ref: "#/components/responses/BackendFailure" }
  /v1/cards/{cardKey}/versions/{version}/activate:
    post:
      operationId: activateCard
      summary: Move IN_REVIEW para ACTIVE e arquiva a versão ativa anterior.
      parameters:
        - $ref: "#/components/parameters/CardKey"
        - $ref: "#/components/parameters/Version"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody: { $ref: "#/components/requestBodies/Transition" }
      responses:
        "200": { $ref: "#/components/responses/CardVersion" }
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "502": { $ref: "#/components/responses/BackendFailure" }
        "504": { $ref: "#/components/responses/BackendFailure" }
  /v1/cards/{cardKey}/versions/{version}/archive:
    post:
      operationId: archiveCard
      summary: Move ACTIVE para ARCHIVED sem apagar o histórico.
      parameters:
        - $ref: "#/components/parameters/CardKey"
        - $ref: "#/components/parameters/Version"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody: { $ref: "#/components/requestBodies/Transition" }
      responses:
        "200": { $ref: "#/components/responses/CardVersion" }
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "502": { $ref: "#/components/responses/BackendFailure" }
        "504": { $ref: "#/components/responses/BackendFailure" }
components:
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
    Actor:
      type: apiKey
      in: header
      name: X-Actor
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema: { type: string, minLength: 8, maxLength: 128 }
    CardKey:
      name: cardKey
      in: path
      required: true
      schema: { type: string, pattern: "^[a-z0-9][a-z0-9-]{2,119}$" }
    Version:
      name: version
      in: path
      required: true
      schema: { type: integer, minimum: 1 }
  requestBodies:
    Transition:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [reason]
            additionalProperties: false
            properties:
              reason: { type: string, minLength: 1, maxLength: 500 }
  responses:
    CardVersion:
      description: Estado editorial resultante.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/CardVersion" }
    InvalidRequest:
      description: JSON, cabeçalho ou parâmetro inválido.
      content:
        {
          application/json:
            { schema: { $ref: "#/components/schemas/ApiError" } },
        }
    Unauthorized:
      description: API key inválida.
      content:
        {
          application/json:
            { schema: { $ref: "#/components/schemas/ApiError" } },
        }
    Conflict:
      description: Idempotência ou transição incompatível com o estado atual.
      content:
        {
          application/json:
            { schema: { $ref: "#/components/schemas/ApiError" } },
        }
    PayloadTooLarge:
      description: JSON excede o limite físico de 32 KiB.
      content:
        {
          application/json:
            { schema: { $ref: "#/components/schemas/ApiError" } },
        }
    NotFound:
      description: Cartão ou versão inexistente.
      content:
        {
          application/json:
            { schema: { $ref: "#/components/schemas/ApiError" } },
        }
    BackendFailure:
      description: Backend canônico indisponível ou integração interna rejeitada.
      content:
        {
          application/json:
            { schema: { $ref: "#/components/schemas/ApiError" } },
        }
  schemas:
    RegisterCardRequest:
      type: object
      additionalProperties: false
      required:
        - cardKey
        - collection
        - title
        - finding
        - mechanism
        - commercialApplication
        - evidenceStrength
        - publishedOn
        - validUntil
        - experimentHypothesis
        - risks
        - limits
        - sourceKind
        - sourceUri
        - sourceTitle
        - sourceSha256
      properties:
        cardKey: { type: string, pattern: "^[a-z0-9][a-z0-9-]{2,119}$" }
        collection:
          type: string
          enum:
            [video, prazer-audio-visual, neuromarketing, momentos-de-compra-b2c]
        title: { type: string, minLength: 1, maxLength: 240 }
        finding: { type: string, minLength: 1, maxLength: 700 }
        mechanism: { type: string, minLength: 1, maxLength: 700 }
        commercialApplication: { type: string, minLength: 1, maxLength: 700 }
        evidenceStrength: { type: string, minLength: 1, maxLength: 500 }
        publishedOn: { type: string, format: date }
        validUntil: { type: string, format: date }
        experimentHypothesis: { type: string, minLength: 1, maxLength: 700 }
        risks: { type: string, minLength: 1, maxLength: 700 }
        limits: { type: string, minLength: 1, maxLength: 700 }
        sourceKind: { type: string, enum: [URL, PDF, MARKDOWN, TEXT] }
        sourceUri:
          type: string
          minLength: 1
          maxLength: 1024
          pattern: "^(https://|urn:|repo:|s3://)[^\\s]+$"
        sourceTitle: { type: string, minLength: 1, maxLength: 240 }
        sourceSha256: { type: string, pattern: "^[0-9a-f]{64}$" }
    CardVersion:
      type: object
      required:
        [
          cardKey,
          version,
          cardId,
          status,
          effectiveStatus,
          collection,
          routableAgents,
          title,
          sourceKind,
          sourceUri,
          sourceTitle,
          sourceSha256,
          createdBy,
          createdAt,
          updatedAt,
        ]
      properties:
        cardKey: { type: string }
        version: { type: integer, minimum: 1 }
        cardId: { type: string, pattern: "^RI1-[0-9A-F]{12}$" }
        status: { type: string, enum: [DRAFT, IN_REVIEW, ACTIVE, ARCHIVED] }
        effectiveStatus:
          { type: string, enum: [DRAFT, IN_REVIEW, ACTIVE, ARCHIVED, EXPIRED] }
        collection: { type: string }
        routableAgents: { type: array, items: { type: string } }
        title: { type: string }
        finding: { type: string }
        mechanism: { type: string }
        commercialApplication: { type: string }
        evidenceStrength: { type: string }
        publishedOn: { type: string, format: date }
        validUntil: { type: string, format: date }
        experimentHypothesis: { type: string }
        risks: { type: string }
        limits: { type: string }
        sourceKind: { type: string, enum: [URL, PDF, MARKDOWN, TEXT] }
        sourceUri: { type: string }
        sourceTitle: { type: string }
        sourceSha256: { type: string, pattern: "^[0-9a-f]{64}$" }
        createdBy: { type: string }
        createdAt: { type: string, format: date-time }
        reviewSubmittedBy: { type: string, nullable: true }
        reviewSubmittedAt: { type: string, format: date-time, nullable: true }
        reviewNote: { type: string, nullable: true }
        activatedBy: { type: string, nullable: true }
        activatedAt: { type: string, format: date-time, nullable: true }
        activationNote: { type: string, nullable: true }
        archivedBy: { type: string, nullable: true }
        archivedAt: { type: string, format: date-time, nullable: true }
        archiveNote: { type: string, nullable: true }
        updatedAt: { type: string, format: date-time }
    ApiError:
      type: object
      required: [timestamp, status, code, message, requestId, details]
      properties:
        timestamp: { type: string, format: date-time }
        status: { type: integer }
        code: { type: string }
        message: { type: string }
        requestId: { type: string }
        details: { type: array, items: { type: string } }
