# Java / Maven
/build/
/target/
*.class

# Node
/node_modules
/dist
.parcel-cache

# OS
.DS_Store

# Env
.env

frontend/node_modules
frontend/dist

# Pastas do projeto que não devem ir para o Git
/backend/.idea/
/backend/ads-service/target/
log.exec
chaves/
local/

